<!DOCTYPE html>
<html ng-app="index">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MyStock-app v1.0</title>

	<link rel="icon" href="_images/icons/favicon.ico">
	<link rel="stylesheet" href="_libraries/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="_css/style.css">	
</head>
<body onkeyup="whichButton(event)">
	<div  id="hadouken"></div>

	<div class="container" ng-controller="ProdutosController">

		<header id="header" class="main-header">
			<div class="logo-header"></div>
			<div class="title-header">
				MyStock App
			</div>
		</header><!-- /header -->

		<nav class="main-nav">
			<input type="checkbox" id="hack-one">
			<div class="mobile-button"><i class="fa fa-bars mobile-button"></i><label id="hack-two" for="hack-one"></label></div>
			<ul>				
				<li><a href="#" onclick="showMe('cad')">Cadastro</a></li>
				<li><a href="#">Listar</a></li>
				<li><a href="#" onclick="showMe('gra')">Gráfico</a></li>			
			</ul>
		</nav><!-- /nav -->

		<section class="main-content">
			
			<section id="cad" class="main-cadastro bordado">				
				<form class="form-inline" name="formProduto">			
					<fieldset>
						<legend>&nbsp;CADASTRE SEU PRODUTO&nbsp;</legend>
						<table class="table-cadastro">
							<tbody>
								<tr>
									<td><span>Nome</span> </td>
									<td><input type="text" name="" value="" placeholder="Digite o nome do produto..." autofocus tabindex="1" ng-model="produto.nome"></td>
								</tr>
								<tr>
									<td><span>Valor</span></td>
									<td><input type="number" name="" value="" placeholder="Digite o valor do produto..." tabindex="2" ng-model="produto.valor"></td>
								</tr>
								<tr>
									<td><span>Quantidade</span></td>
									<td><input type="number" name="" value="" placeholder="Digite a quantidade do produto..." tabindex="3" ng-model="produto.quantidade"></td>
								</tr>
								<tr>
									<td colspan="2"><button tabindex="4" ng-click="adicionarProduto()">CADASTRE</button></td>
								</tr>
							</tbody>
						</table>																							
					</fieldset>	
				</form>
			</section><!-- /cadastro -->

			<section id="gra" class="main-grafico bordado">
				<div>
					<button ng-click="gerarGrafico()" onclick="clicandoNoClicador()">Gráfico Geral</button>
					<!--Pode se adicionar um gráfico por produto-->
					<!--Implemente a função gerarGraficoPorProduto do controller ProdutosController-->
					<!--<button ng-click="gerarGraficoPorProduto()">Gráfico por Produto</button>-->
				</div>	
				<div class="grafico"></div>
			</section><!-- /grafico -->

			<section id="lis" class="main-estoque bordado">
				<div class="estoque">
					<fieldset>
						<legend >&nbsp;LISTA DE PRODUTOS&nbsp;</legend>

						<small>Ordenar por: </small>
						<button class="order-button" ng-click="ordenar('nome')">NOME</button>
							<span class="sortorder" ng-show="predicate === 'nome'" ng-class="{reverse:reverse}"></span>
						<button class="order-button" ng-click="ordenar('valor')">VALOR</button>
							<span class="sortorder" ng-show="predicate === 'valor'" ng-class="{reverse:reverse}"></span>
						<input id="ordem" type="hidden" ng-model="search.ordem" value="">

						<div ng-repeat="item in produtos">
							<table class="lista-estoque">
								<thead>
									<tr>
										<th><span>Produto</span></th>
										<th><span>Valor</span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{ item.nome }}</td>
										<td>{{ "R$ "+item.valor }}</td>	
									</tr>
								</tbody>							
							</table>
						</div>
						<nav ng-show="totalPorPagina < totalRegistro">
					        <ul class="pagination">
					            <li ng-repeat="p in pagina">
					                <a href ng-click="loadListPagination($index)" style="background-color: #777;">
					                    {{$index + 1}}
					                </a>
					            </li>
					        </ul>
					    </nav>
					</fieldset>
				</div>
			</section><!-- /estoque -->

		</section><!-- /content -->	

		<!--<footer id="footer" class="main-footer">
			<code>&copy; 2016. MyStock App Versão 1.0. Ambientação Infoway 2ª Fase. Powered by: Rádames D Santiago</code>
		</footer> /footer -->

	</div>	

	<!-- Scripts -->
	<script src="_libraries/angular/angular.min.js"></script>
	<script src="_libraries/d3/d3.min.js"></script>
	<script src="_js/app.js"></script>	
	<!--<script>
		document.write('<script src="_libraries/' 
			+('__proto__' in {} ? 'zepto/zepto':'jquery/dist/jquery') 
			+ '.min.js"><\/script>');
	</script>-->
	<script src="_js/hadouken.js"></script>
</body>
</html>