/*
*	Base
*/
	
	/*
	* CSS Reset
	*
	* Simples e Básico / Basic and Simple
	*/
	*{
		margin:0;
		padding:0;
		list-style:none;
		vertical-align:baseline;
		text-decoration: none;
	}
	/*-------------------------*/

	a{
		color: #fff;
	}

	code{
		color: white;
	}

	input{
		height: 70%;
		width: 90%;		
	}

	button{
		height: 80%;
		width:40%;
		border-radius: 4px;
		cursor: pointer;
		border:1px solid #cccccc;
		color:#000;
		background-color: #fff;
		box-shadow: none;		
	}

	fieldset{
		height: 100%;
		border: 1.5px dashed #CACACA;
	}

/*
*	Layouts
*/

	.container{
		height: 589px;
		/*height: 100%;*/
		/*width:1366px;*/
		width:100%;
		font-family: mystock-f;
		background-color: #fff;		
	}

	.main-header{
		height: 60px;
		width: 100%;
	}

	.main-nav{
		height: 30px;
		width: 100%;
		background-color: #CD853F;
	}

	.second-nav{
		display: none;
	}

	.main-content{
		padding: 1%;
		height: 87%;
		width: 98%;
	}

	.main-cadastro{
		margin: 0 0 1% 0;
		height: 48%;
		width: 49%;
		float:left;
		display: none;
		text-align: center;
		background-color: #F5FFFA;
	}

	.main-estoque{	
		margin: 0 0 1% 0;
		height: 48%;
		width: 49%;
		float: left;
		text-align: center;
		background-color: #F5FFFA;
	}

	.main-grafico{	
		height: 98%;
		width: 50%;
		float:right;
		display: none;
		text-align: center;
		background-color: #F5FFFA;
	}

	.main-footer{			
		margin-top:2%;
		text-align: center;		
		background-color: #696969;
	}

/*
*	Modules
*/

	.bordado{
		border-radius: 2%;
	}

	.logo-header{
		margin:0 0 0 46%;
		height: 30px;
		width: 30px;
		border-radius: 10px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-image: url(../_images/logo.png);	
	}

	.title-header{
		margin:0 0 0 46%;
		font: 1.25em mystock-f;
		text-transform: uppercase;
	}

	.main-nav ul{
		width: 100%;
		display: table;		
	}

		.main-nav ul li{ 
			padding: 0.4% 0 0 0;		
			height: 25px;
			width: 10%;		
			float: left;
			text-align: center;	
			font: mystock-f;
			background-color: #CD853F;		
		}

	.main-cadastro form fieldset{
		margin: 0 0 0 13%;		
		width: 70%;				
	}	

	.table-cadastro{		
		margin: 3% 10% 0 0;
		width: 100%;
		display: inline-block;		
	}

		.table-cadastro tbody tr td, td{			
			height: 2.6em;					
			text-align: center;
		}

		.table-cadastro tbody tr td:nth-child(1){ width: 10%;}
		.table-cadastro tbody tr td:nth-child(2){ width: 30%;}

	.main-estoque fieldset{
		margin: 0 0 0 5%;	
		padding: 0 0 1% 0;	
		width: 90%;				
	}

		.main-estoque table{
			margin: 1% 0 0 1%;
			padding: 2.7% 0 0 0;
			width: 32%;	 
			float: left;			
			background-color: #c1ffc1;
		}	

	.order-button{
		margin: 0 0 1% 2%;
		width: 20%;		
	}

	.grafico{
		margin: 3% 0 0 3%;
		text-align: center;
	}

	.axis path,
		.axis line {
	    	fill: none;
	    	stroke: black;
	    	shape-rendering: crispEdges;
	       }

	.axis text {
	    font-family: sans-serif;
	    font-size: 11px;
	}	
/*
*	States
*/

	button:hover{
		color: #333;
	    background-color: #e6e6e6;
	    border-color: #adadad;
	}

	.main-nav ul li:hover{
		background-color: #fff;	
	}

	.main-nav ul li:hover a{
		color:#CD853F;
	}

	.main-nav ul li:hover span{
		display: block;
	}

	.sortorder:after {
	 	content: '\25b2';
	}
	.sortorder.reverse:after {
		content: '\25bc';
	}	

/*
*	Themes
*/

	.navigator .data {
	    fill: lightgrey;
	    stroke-width: 0px;
	}

	.navigator .line {
	    fill: none;
	    stroke: darkgrey;
	    stroke-width: 1px;
	}

	.navigator .viewport {
	    stroke: grey;
	    fill: black;
	    fill-opacity: 0.2;
	}	

	.chart .overlay {
	    stroke-width: 0px;
	    fill-opacity: 0;
	}	

/*
*	Utilities
*/

	@font-face{
		font-family: mystock-f;
		src: url(../_fonts/mystock.otf);
	}	

	@media all and (min-width: 801px) {
	    i.mobile-button{
			display: none;
		}	
	}	

	@media screen and (max-width: 800px) {

	 	/*@media.Base*/
	 	/*@media.Layout*/
	 	/*@media.Modules*/
	 	/*@media.States*/
	 	/*@media.Themes*/
	 	/*@media.Utilities*/
	 	
	    .main-estoque,
	    	.main-grafico,
	    		.main-cadastro {
	        		float: none;
	        		width: 100%;
	    }

	    .main-nav{
	    	height: 8%;
	    	padding: 5px 0 0 0;
	    }

	    div.mobile-button{
	    	margin: 0 0 0 16px;
	    	padding: 0 1px 0 0;
	    	width: 42px;		    		    
		    display: table;		    
		    text-align: center;
		    border: 1px solid #fff;
		    border-radius: 10px;		    
	    }

		i.mobile-button{
			margin: 0 0 0 3%;
			display: block;
			font-size: 2.5em;
			color: #fff;			
		}	    

		.main-nav ul{
			width: 100%;
			display: none;		
		}

			.main-nav ul li{ 
				padding: 2% 0 0 0;		
				height: 30px;
				width: 100%;		
				float: left;
				text-align: center;	
				font: mystock-f;
				background-color: #CD853F;		
			}			

		.main-cadastro form fieldset{
			margin: 0 0 0 13%;		
			width: 70%;				
		}

		div.mobile-button:hover{
			background-color: #fff;			
		}
	 
		 	div.mobile-button:hover i{
		 		color: #CD853F;
		 	}

		/*@media.Shame*/

		#hack-one:checked + .mobile-button{
			background-color: #fff;
		}

		#hack-one:checked + .mobile-button i{
			color: #CD853F;
		}

		#hack-one:checked ~ ul{
			display: block;
		}
		
		#hack-two {
		    display: block;
		    width: 45px;
		    height: 42px;
		    position: absolute;
		    top: 64px;
		    left: 15px;
		}

	}	

/*
*	Shame
*/

	#hadouken{
		position:fixed;_position:absolute;bottom:0px;left:40%;clip:inherit;
		visibility:visible;
	}

	#hack-one{
		display: none;
	}